Roll for Resilience/.obsidian/plugins/storyteller-suite/data.json
Roll for Resilience/.obsidian/workspace.json
Roll for Resilience/.obsidian/types.json
Roll for Resilience/.obsidian/plugins/storyteller-suite/data.json
Roll for Resilience/.obsidian/workspace.json
